@model RecruitFlow.Models.Cv

@{
    ViewData["Title"] = "Edit";
}

<h1>Cập nhật</h1>

<h4>Cv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cvid" />
            <div class="form-group">
                <label asp-for="UngVienId" class="control-label"></label>
                <select asp-for="UngVienId" class="form-control" asp-items="ViewBag.UngVienId"></select>
                <span asp-validation-for="UngVienId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUrl" class="control-label"></label>
                <input type="hidden" asp-for="FileUrl" class="form-control" />
                <input type="file" name="file" class="form-control-file" />
                <span asp-validation-for="FileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
